*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
html {
  background-color: #dce4fb;
  font-family: 'Montserrat', sans-serif;
}
.options {
  display: flex;
  flex-direction: column;
}
.option:hover {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.04);
}
.view {
  padding: 2em;
}

.deptwise-view {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.dept span {
  font-weight: bold;
  font-size: 3rem;
}
.dept {
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 8px;
  background-color: #0073e9;
  transition: scale 200ms ease-in;
}
.dept:hover {
  scale: 1.02;
  background-color: #1584f4;
}
.view * {
  cursor: default;
}
.option {
  transition: all 200ms ease-in;
  cursor: pointer;
  margin: 1em 0;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 1em 1.5em;
}
.app {
  padding: 1em 2em;
}
.login-form{
  max-width: 600px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:fff;
}
.login-form-content{
  display: flex;
  flex-direction: column;
  gap:1rem;
  background-color: #fff;
  border-radius: 0.7rem;
  padding: 2rem;  
  margin-top:1rem;
}
.input {
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #0073E9;
}

.input-group:hover .label, .input:focus {
  color: #0073E9;
}
.text-regular{
  font-weight: 500;
  color: #606060;
}
.flex{
  display: flex;
}
.flex-{
  display: flex;
  flex-direction: column;

}
.align-center{
  text-align: center;
}
.main-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}
.progress-bar > div.finished {
  background-color: #0073e9;
}
.what-ques {
  color: #0073e9;
}
.progress-bar {
  display: flex;
  margin-bottom: 0.5em;
}
.header {
  margin: 0.5em 0 1.5em 0;
}
.progress-bar > div {
  flex: 1;
  background-color: #cdcdcdd4;
  margin: 0 0.1em;
  border-radius: 10px;
  height: 5px;
}
.question {
  opacity: 0;
  animation: quesSlide 300ms ease forwards 100ms;
  position: relative;
}
.question.changed {
  position: relative;
  animation: quesSlideStart 300ms ease forwards !important;
}
@keyframes quesSlide {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes quesSlideStart {
  from {
    opacity: 1;
    bottom: 0;
  }
  to {
    opacity: 0;
    bottom: 20px;
  }
}
.option.selected {
  outline: 3px solid #0073e9;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.04);
}
.main-content {
  animation: slide 300ms ease forwards;
  position: relative;
}
@keyframes slide {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.option img {
  opacity: 0;
  scale: 0;
  transition: all 200ms ease-in-out;
}
.btn {
  transition: all 300ms ease-out;
  background-color: #0073e9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 0 0.2em;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}
img.selected {
  opacity: 1;
  scale: 1;
}
.btn > img {
  width: 25px;
}
.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
