*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
html {
  background-color: #dce4fb;
  font-family: "Montserrat", sans-serif;
}
.options {
  font-size: medium;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}
.option {
  cursor: pointer;
  margin: 1em 0;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 1.4em 5.2em 1.4em 5em;
  
}
.option:hover {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.04);
}
.view {
  display: flex;
  padding: 1.7em;
  overflow: auto;
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
}
.view- {
  display: flex;
  padding: 1.7em;
  overflow: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.fixed{
  position: fixed;
  display: flex;
  top: 0 ;
  background-color: #DCE4FB;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  min-width: 100%;
  z-index: 10;
 }
 .font-semibold{
  font-weight: 700;
  font-size: x-large;
  color: #0857A0;
 }
 .font-medium{
  font-weight: 600;
  font-size: x-large;
  color:#0857A0 ;
}

.categories {
  display: flex;
 
  padding: 7px 0px;
}

::-webkit-scrollbar {
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #6aafff97;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6ab0ff;
}

.categories > span {
  cursor: pointer;
  outline: 2px solid #0073e9;
  background-color: white;
  border-radius: 25px;
  padding: 0.3rem 0.8rem;
  margin:0.3rem;
}
.dept-diagrams > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.view.admin {
  display: grid;
  align-items: flex-start;
  /* justify-items: flex-end; */
  grid-template-columns: 1fr 1fr;
}
.view.admin button {
  margin-left: auto;
}
.view.admin > * {
  margin-bottom: 1em;
}

.deptwise-view {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}
.dept span {
  font-weight: bold;
  font-size: 1.2rem;
}
.dept > p {
  font-weight: bold;
  font-size: 1.2rem;
}
.dept {
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 8px;
  color: black;
}
.view * {
  cursor: default;
}
.app {
  padding: 1em 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-form{
  max-width: 600px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: fff;
}
.login-form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: 0.7rem;
  padding: 2rem;
  margin-top: 1rem;
}
.categories > .selected {
  background-color: #0073e9;
  color: white;
}
.option.selected {
  outline: 1.8px solid transparent;
  animation: transist 200ms ease-in forwards;
  border-left:  0.3rem solid #0073e9;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.04);
}
@keyframes transist{
  to{
    outline: 2.1px solid #0073e9;
  }
}

.dept-diagrams {
  display: flex;
  flex-wrap: wrap;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input {
  min-height: 44px;
  background-color: #171fac0f;
  border-radius:.3rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: medium;
  font-weight: 500;
  color: #383838;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input- {
  text-align: center;
  min-height: 60px;
  background-color: #8eb6ff3a;
  border-radius:.3rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: medium;
  font-weight: 500;
  color: #383838;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #0073e9;
}

.input-group:hover .label,
.input:focus {
  color: #0073e9;
}

.input-:hover,
.input-:focus,
.input--group:hover .input {
  outline: none;
  border-color: #0073e9;
}

.input--group:hover .label,
.input-:focus {
  color: #0073e9;
}
.text-regular {
  font-weight: 500;
  color: #606060;
}
.flex {
  display: flex;
  column-gap:2rem;
}
.fix{
  min-width: 331px;
}
.flex- {
  display: flex;
  flex-direction: column;
}
.align-center {
  text-align: center;
}
.main-content {
  background-color: #00367330;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 1px solid #0073e9;
  margin: 0.4rem;
  padding : 1.5rem 0.7rem;
  border-radius: 0.6rem;
}


.main-content- {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
 
}

.progress-bar > div.finished {
  background-color: #0073e9;
}
.what-ques {
  color: #0073e9;
  
}
.progress-bar {
  display: flex;
  margin-bottom: 0.5em;
}
.progress-bar > div {
  flex: 1;
  background-color: #cdcdcdd4;
  margin: 0 0.1em;
  border-radius: 10px;
  height: 5px;
}

.question- {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: larger;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center ;
  min-height: 60px;
  opacity: 0;
  animation: quesSlide 300ms ease forwards 100ms;
  position: relative;
}

.question {
  width: 50vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: larger;
  display: flex;
  border: 0.13rem solid #0073e9;
  border-radius: 0.6rem;
  flex-grow: 1;
  align-items: center;
  justify-content: center ;
  min-height: 60px;
  opacity: 0;
  animation: quesSlide 300ms ease forwards 100ms;
  position: relative;
}
.question.changed {
  position: relative;
  animation: quesSlideStart 300ms ease forwards !important;
}
@keyframes quesSlide {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes quesSlideStart {
  from {
    opacity: 1;
    bottom: 0;
  }
  to {
    opacity: 0;
    bottom: 20px;
  }
}

.main-content {
  animation: slide 300ms ease forwards;
  position: relative;
}
@keyframes slide {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.option img {
  opacity: 0;
  scale: 0;
  transition: all 200ms ease-in-out;
}
.btn {
  width: 100%;
  transition: all 300ms ease-out;
  background-color: #0073e9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 0 0.2em;
  margin-top: 0.5rem;
  padding: 0.5em 1em;
  min-height: 44px;
  cursor: pointer;
  border-radius: 0.3rem;
  color: white;
  font-weight: 700;
  font-size: large;
  letter-spacing: 0.1rem;
  font-family: 'Baloo Chettan 2', cursive;
}
.btn- {
  transition: all 300ms ease-out;
  background-color: #0073e9;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  border: none;
  gap: 0 0.2em;
  padding: 0.5em 1em;
  min-height: 44px;
  cursor: pointer;
  border-radius: 0.3rem;
  color: white;
  font-weight: 700;
  font-size: large;
  font-family: 'Baloo Chettan 2', cursive;
}
.btn-- {
  transition: all 300ms ease-out;
  background-color: #0073e9;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  border: none;
  gap: 0 0.2em;
  padding: 0.5em 1em;
  min-height: 44px;
  cursor: pointer;
  border-radius: 0.3rem;
  color: white;
  font-weight: 700;
  font-size: large;
  font-family: 'Baloo Chettan 2', cursive;
}
.option.fromAdmin {
  display: flex;
  align-items: center;
}
.fromAdmin{
  display: flex;
  margin: 1rem 2rem;
  align-items: center;
  justify-content: center;
}
.fromAdmin>.selected{
  background-color: #fff;
  border-radius: 10px;
  padding:14.5px 2.5px;
  margin-left: 0.4rem;
}
.option > h3,
input {
  flex: 4;
  
}
input {
  outline: none;
  padding: 0.8em 0.5em;
}
img.selected {
  opacity: 1;
  scale: 1;
  cursor: pointer;
}
.btn > img {
  width: 25px;
}
.btn--:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.btn-:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.bg{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.gif{
  height: 170px;
}

.header{
  padding-left: 1.3rem;
}

.h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: medium;
  font-weight: 500;
}

.support{
  width: 60vw;
}

.pos{
  position: absolute;
  z-index: -1;
  height: 85vh;
  width: 100vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 40%;
}

.dood1{
  position: absolute;
  z-index: -1;
  height: 28vh; 
  left: 16%;
  top: 13%;
  transform: translate(-50%,-50%);
  transform: rotate(-50deg);
  opacity: 70%;
}

.dood2{
  position: absolute;
  z-index: -1;
  height: 30vh;
  left: 70%;
  top: 25%;
  transform: translate(-50%,-50%);
  transform: rotate(40deg);
  opacity: 70%;
}

.dood3{
  position: absolute;
  z-index: -1;
  height: 27vh;
  width: 30vw;
  left: 17%;
  top: 62%;
  transform: translate(-50%,-50%);
  transform: rotate(200deg);
  opacity: 70%;
}